

<div class="main">
      <div class="container">

        <div class=" first row">
          <div class="col-md-6">
            <a class="thumbnail">
              <%= image_tag "switchlogo.jpg"%>
            </a>
          </div>
          <div class="col-md-6">
            <a class="thumbnail">
              <%= image_tag "wake2.jpeg"%>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <a class="commerce thumbnail">
              <%= image_tag "wake2.jpeg"%>
            </a>
          </div>
          <div class="col-md-4">
            <a class="enterprise thumbnail">
              <%= image_tag "wake2.jpeg"%>
            </a>
          </div>
          <div class="col-md-4">
            <a class="mobile thumbnail">
              <%= image_tag "wake2.jpeg"%>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <a class="mobile thumbnail">
              <%= image_tag "wake2.jpeg"%>
            </a>
          </div>
          <div class="col-md-4">
            <a class="commerce thumbnail">
              <%= image_tag "wake2.jpeg"%>
            </a>
          </div>
          <div class="col-md-4">
            <a class="mobile thumbnail">
              <%= image_tag "wake2.jpeg"%>
            </a>
          </div>
        </div>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
