<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:500,700bold,400italic,100,300,300italic,300condensed,400&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>
<body>

  <div class="header">

        <div class="container">

          <div class = "row">
            <div class = "name col-xs-4">
              <h1>Jonathan Nadel</h1>
              <h5>Software Design and Development</h5>
            </div>
            <div class="col-xs-4 col-xs-offset-4">
              <ul class="nav">
                <a href = "/"><li>Welcome</li></a>
                <a href = "/portfolio"><li>Portfolio</li></a>
                <a href = "/about"><li>About</li></a>
                <a href = "/contact"><li>Contact</li></a>
              </ul>
            </div>
        </div>
      </div>
    </div>

<%= yield %>

<div class="footer">
  <div class="container">
      <ul class="social">
        <li><a href="#"><%= image_tag "github10.png"%></a></li>
        <li><a href="#"><%= image_tag "linkedin11.png"%></a></li>
        <li><a href="#"><%= image_tag "twitter1.png"%></a></li>
      </ul>
  </div>
</div>

<!-- <script src="//code.jquery.com/jquery-latest.min.js"></script> -->


</body>
</html>
